body
{
  color: rgb(8, 8, 8);
  background: linear-gradient(rgb(13, 26, 121),rgba(80, 166, 247, 0.83), rgb(181, 230, 251))
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#resultEmotionName ,#resultEmotionName2  
{
  color: black;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
    font-size: 14px;
  color: #1b5fbe;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}